<!-- breadcrumb component //-->
{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words }}{% endcapture %}
{% assign previous="" %}
<ul class="breadcrumb">
 {% if num_parts == "0" or num_parts == "-1" %}
  <li><a href="/">Accueil</a> &nbsp; </li>
 {% else %}
  <li><a href="/">Accueil</a> <span class="divider">/</span> </li>

  {% for path in page.categories %}
   {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
   {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

   <li><a href="{{previous}}/">{{ first_word }}</a> <span class="divider">/</span> </li>

   {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
  {% endfor %}
 {% endif %}
 
 <li class="active">{{ page.title }}</li>
</ul>
