
	<!-- Composant pied de page //-->
	<footer>
		<hr style="margin: 20px 0;">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span8">
					<p>&copy; 2013 Benjamin BALET &middot; <a href="/nobots/about.html">Copyright & vie privée</a> &middot;</p>
				</div>
				<div class="span4">
					<p class="pull-right">
						<a href="https://plus.google.com/+DecouvrirgolangNetEtRapide" target="_blank"><img height=35 width=35 src="/images/google_plus-35.png" title="Suivre sur Google+"></a>
						<a href="/rss.xml" target="_blank"><img height=35 width=35 src="/images/rss-35.png" title="Flux RSS"></a>
						<a href="/atom.xml" target="_blank"><img height=35 width=35 src="/images/rss-35.png" title="Flux Atom"></a>
					</p>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

	<!-- Bouton tweeter //-->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	<!-- Bouton Google plus -->
	<script type="text/javascript">
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js?onload=onLoadCallback';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>

	<!-- Bouton Facebook //-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	</body>
</html>
