<div class="thumbnail">
	<img src="/images/benjamin-balet.png" width=133 height=773 class="img-rounded" alt="Portrait de Benjamin BALET">
	<center>
		<strong>Benjamin BALET</strong><br />
		<em>Consultant APM</em>
		<p>Retrouvez mes cooordonées</p>
		<a href="http://www.viadeo.com/fr/profile/benjamin.balet" title="Mon profil Viadeo" target="_blank"><img src="/images/bouton-viadeo.png" width=104 height=36 alt="Benjamin BALET sur viadeo"></a>
	</center>
</div>
<br />
<br />
<br />
<div>
	<center>
		<div class="g-page" data-width="180" data-href="//plus.google.com/116015876647935570736" data-rel="publisher"></div>
	</center>
</div>
<br />
<br />